<main>
    <form action="/search">
        <input type="text" />
        <button type="button">Search</button>
      </form>
  <section class="cats">
    <ul>
        {{#each cats}}
            {{>catTemplate}}
            {{else}}
            <h1>There are no cats to be sheltered!</h1>
        {{/each}}
    </ul>
  </section>
</main>