<main>
  <section class="cats">
    <ul>
        {{#each cats}}
            {{>catTemplate}}
            {{else}}
            <h1>There are no cats to be sheltered!</h1>
        {{/each}}
    </ul>
  </section>
</main>