{{#if kittens}}
  {{#each kittens}}
  {{>kitten}}
  {{/each}}
{{else}}
  <p>There are no kittens!</p>
{{/if}}

<form method="post">
  <label for="name">Name:</label>
  <br />
  <input type="text" id="name" name="name" />
  <br />
  <label for="age">Age:</label>
  <br />
  <input type="number" id="age" name="age" />
  <br />
  <br />
  <input type="submit" value="Add Kitten" />
</form>